<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>94</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>93</string>
					<key>Timestamp</key>
					<string>775581904.90684</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MusicSchool/View/AuthView/RegTeacherView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                // TODO: Documentation
</string>
				<key>leading</key>
				<string>                
                //MARK: Register Button
</string>
				<key>trailing</key>
				<string>                NavigationLink(destination: LaunchView(), isActive: $isRegisterd) {
                    Button("Register") {
                        Task {
</string>
			</dict>
			<key>title</key>
			<string>Changed to Navigation Link</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>16</string>
					<key>EndingLineNumber</key>
					<string>112</string>
					<key>StartingColumnNumber</key>
					<string>8</string>
					<key>StartingLineNumber</key>
					<string>112</string>
					<key>Timestamp</key>
					<string>775582047.925241</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MusicSchool/View/AuthView/RegTeacherView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>// TODO:</string>
				<key>leading</key>
				<string>            }
        }
        </string>
				<key>trailing</key>
				<string> Documentation
        .alert(isPresented: $showAlert) {
            Alert(title: Text(AlertTitle), message: Text(AlertMessage), dismissButton: .default(Text("OK")))
</string>
			</dict>
			<key>title</key>
			<string>Added Alert Box</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
